.button {
    appearance: none;
    background-color: transparent;

    padding: var(--size-m) var(--size-l);
    font-size: var(--size-m);
    text-decoration: none;
    border: var(--border-default)

}