.content {
    h1 {
        margin-bottom: var(--size-m);
    }

    .buttonGroup {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--size-m);
        margin-top: var(--size-l);

        >* {
            flex-grow: 1;
            flex-basis: 0;
        }
    }

}
