.questionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: var(--size-s);


    transition: var(--transition-default);
    @starting-style {
        opacity: 0;
    }
}

.valueToColor {
    height: 75%;
    aspect-ratio: 1;

    border-radius: var(--border-radius-default);
    border: var(--border-default);
}