.icon {
    font-size: calc(2 * var(--font-size-large));
    font-family: 'Material Symbols';
    font-weight: bold;

    aspect-ratio: 1;
    vertical-align: center;
    text-align: center;
    border: var(--border-default)

}

.incorrect {
    color: var(--color-status-bad);

    * {
        color: inherit;
    }

    .icon {
        animation: var(--duration-default) ease-out var(--duration-default) wiggle;
        color: var(--color-status-bad);
        border-color: var(--color-status-bad);
    }
}

.correct {
    color: var(--color-status-good);

    * {
        color: inherit;
    }

    .icon {
        animation: var(--duration-default) ease-out var(--duration-default) jump;
        color: var(--color-status-good);
        border-color: var(--color-status-good);
    }
}

@keyframes wiggle {
    0% {
        transform: none;
    }
    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);

    }

    25% {
        transform: rotate(-10deg);
    }

    100% {
        transform: none;
    }
}

@keyframes jump {
    0% {
        transform: none;
    }

    50% {
        transform: translateY(calc(-1 * var(--size-m)));
    }

    100% {
        transform: none;
    }
}