.icon {
    font-size: var(--font-size-large);
    font-family: 'Material Symbols';
    font-weight: bold;

    line-height: 1.5;
    aspect-ratio: 1;
    vertical-align: center;
    text-align: center;
    border-radius: 100svh;
    border: var(--border-default)

}

.incorrect {
    color: var(--color-contrast-status-bad);

    * {
        color: inherit;
    }

    .icon {
        animation: var(--duration-default) ease-out var(--duration-default) wiggle;
        background-color: var(--color-background-status-bad);
        color: var(--color-contrast-status-bad);
        border-color: var(--color-contrast-status-bad);
    }
}

.correct {
    color: var(--color-contrast-status-good);

    * {
        color: inherit;
    }

    .icon {
        animation: var(--duration-default) ease-out var(--duration-default) jump;
        background-color: var(--color-background-status-good);
        color: var(--color-contrast-status-good);
        border-color: var(--color-contrast-status-good);
    }
}

@keyframes wiggle {
    0% {
        transform: none;
    }
    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);

    }

    25% {
        transform: rotate(-10deg);
    }

    100% {
        transform: none;
    }
}

@keyframes jump {
    0% {
        transform: none;
    }

    50% {
        transform: translateY(calc(-1 * var(--size-m)));
    }

    100% {
        transform: none;
    }
}