.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: hsl(0 0% 0% / .75 );
    backdrop-filter: blur(var(--size-s));

    transition: vaR(--transition-default);
    @starting-style {
        opacity: 0;
    }

    .modal {
        border: vaR(--border-default);
        border-bottom: none;

        margin: 0 var(--size-m);
        padding: var(--size-m);
        background-color: #fff;
        max-width: 30rem;

        transition: var(--transition-default);
        transition-delay: vaR(--duration-default);
        @starting-style {
            transform: translateY(100%);
        }
    }
}