.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-s);
    position: relative;

    transition: var(--transition-default);
    @starting-style {
        opacity: 0;
    }
}