.wrapper {
    height: 100%;

    &.correct {
        --color-background: var(--color-status-good);
    }

    &.incorrect {
        --color-background: var(--color-status-bad);
    }

    .gameLayout {
        display: grid;
        grid-template-rows: max-content 1fr 50%;
        grid-template-columns: 1fr;
        grid-gap: var(--size-m);

        height: 100%;

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
