:root {
    --brightness-background-base: 85%;
    --brightness-background-gradient-secondary: 100%;
    --staturation-background-colorized: 75%;

    --color-background: hsl(0 0 var(--brightness-background-base));
    --color-contrast: hsl(0 0% 10%);

    --color-background-status-good: hsl(120, 100%, 85%);
    --color-background-status-bad: hsl(0, 100%, 85%);

    --size-s: .25rem;
    --size-m: 1rem;
    --size-l: 3rem;

    --font-size-default: var(--size-m);
    --font-size-large: var(--size-l);

    --border-default: var(--size-s) solid var(--color-contrast);
    --border-radius-default: 5rem;

    --duration-default: 250ms;
    --transition-default: all var(--duration-default) ease-out;

    @media screen and (min-height: 75rem) {
        --size-m: 1.5rem;
        --size-l: 3rem;
    }

}