@font-face {
    font-style: normal;
    font-display: block;
    font-family: 'Arvo';
    src: url('assets/fonts/Arvo/Arvo-Regular.ttf');
}

@font-face {
    font-style: normal;
    font-display: block;
    font-family: 'Material Symbols';
    src: url('assets/fonts/MaterialSymbols/MaterialSymbolsRounded-VariableFont_FILL,GRAD,opsz,wght.ttf');
}

html, body {
    color: var(--color-contrast);

    * {
        color: var(--color-contrast);
        font-size: var(--font-size-default);
        font-family: Arvo, sans-serif;
        line-height: 1.25;
        -webkit-tap-highlight-color: transparent;
    }

    strong {
        font-size: var(--font-size-large);
        font-weight: bold;
    }

    h1 {
        font-size: var(--size-l);
    }

    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

* {
    box-sizing: border-box;
}