.answerButton {
    color: var(--color-contrast);

    background-color: transparent;
    border: none;
    transition: var(--transition-default);
    cursor: pointer;
    padding: var(--size-m);

    &.showWrong {
        opacity: 0;
    }
}

.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr  1fr;

    * {
        transition: var(--transition-default);
    }

    &, >* {
        border: calc(.5 * var(--size-s)) solid var(--color-contrast);
    }

    > div > * {
        width: 100%;
        height: 100%;
    }
}