.answerButton {
    color: var(--color-contrast);

    background-color: transparent;
    border: none;
    transition: var(--transition-default);
    cursor: pointer;
    padding: var(--size-m);

    &.showWrong {
        opacity: 0;
    }
}

.group {
    display: grid;
    grid-template-columns: 1fr vaR(--size-s) 1fr;
    grid-template-rows: 1fr var(--size-s) 1fr;

    overflow: hidden;
    border: vaR(--border-default);
    border-radius: var(--border-radius-default);

    transition: var(--transition-default);

    .horizontalSeparator, .verticalSeparator {
        background-color: var(--color-contrast);
    }

    .horizontalSeparator {
        grid-column:  1 / span 3;
    }
}