.answerButton {
    color: var(--color-contrast);
    background-color: var(--color-background);

    border: none;
    transition: var(--transition-default);
    cursor: pointer;
    padding: var(--size-m);

    &.showWrong {
        opacity: .25;
    }

}

.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    overflow: hidden;
    border: vaR(--border-default);
    border-radius: var(--border-radius-default);
    gap: var(--size-s);
    background-color: var(--color-contrast)
}